body {
display: flex;
background-color: #388E3C;
font-family: "Wittgenstein", Wittgenstein, serif
}

.container {
background-color: #FF9800;
font-family: "Wittgenstein", Wittgenstein, serif
}

.boldme {
order: 2;
font-weight: bold;
}

.card {
  background-color: #C8E6C9;
  border: solid 1px lightblue;
  color: #212121;
}

.card-img-top {
  align-content: center;
  size: 100px;
}

.availability {
  justify-content: left;
  width: 20rem;
  position: relative;
  right: 1rem;
  background-color: darkgray;
  color: yellow;
  order: 3;
  }

.card-title {

  border: solid 1px lightblue;
  align-content: center;
  color: #212121;
}

.card-text {
  order: 1;
  justify-content: center;
}

.sold {
  position: relative;
  display: inline;
}

#soldOut {
  position: absolute;
  left: 10px;
  top: 160px;
  width: 98%;
}
