body {
display: flex;
background-color: #388E3C;
font-family: "Wittgenstein", Wittgenstein, serif
}

.container {
background-color: #FF9800;
font-family: "Wittgenstein", Wittgenstein, serif
}

.boldme {
font-weight: bold;
}

.card {
  background-color: #C8E6C9;
  border: solid 1px lightblue;
  color: #212121;
}

.card-img-top {
  align-content: center;
  size: 100px;
}

.card-title {

  border: solid 1px lightblue;
  align-content: center;
  color: #212121;
}

.card-text {

  justify-content: center;
}

.availability {
  align-self: baseline;
  width: 100%;
  background-color: darkgray;
  color: yellow;
  }
